h1 {
    font-size: 30;
    padding: 5;
    margin: 10;
    font-weight: 2;
    text-decoration: 3;
    color: rgb(6, 163, 6);
    background-color: rgb(12, 11, 11);
}

h2 {
    font-size:10;
    padding: 5;
    margin: 5;
    font-weight: 2;
    color: rgb(17, 128, 17);
    background-color: rgb(5, 5, 5);
}

p {
    font-size: 5;
    padding: 2;
    margin: 5;
    color: rgb(19, 150, 19);
    background-color: rgb(5, 5, 5);
}

.logo {
    background-size: 20;
    background-image: url(https://www.logo.com);
    background-color: rgb(170, 21, 21);
    height: 3;
    width: 3cd;
}
